* {    
  margin: 0;
  padding: 0;
}

body {
  background-color: #262931;
  color: #6fb3d3;
}

input[type=text] {
  color: #6fb3d3;
  background-color: #17181b;
  width: 50%;
  padding: 15px 10px;
  margin: 8px 0px;
  border:none;
  border-radius: 5px;
  text-align: center;
}

input[type=text]::placeholder {
  color: #476979;
}

input[type=text]:focus {
  border:none;
}

.landing-page {
  margin: 10% 0px;
}

.errorCode {
  display:flex;
  justify-content:center;
  align-items:center;
}

.errorCode span {
  /*background-color: #3b3939;*/
  padding: 5px 15px;
  height: 15px;
}

.vanityImg{
  display:flex;
  justify-content:center;
  align-items:center;
}

.steamidImg{
  display:flex;
  justify-content:center;
  align-items:center;
}

.tutImages{
  margin: 5% 0px;
}

.idInputBox {
  display:flex;
  justify-content:center;
  align-items:center;
}

.idInputButton{
  display:flex;
  justify-content:center;
  align-items:center;
}

.idInputButton button {
  background-color: #75a72d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.main-row {
  padding: 10px 0;
  display:flex;
}

.friend-column {
  margin: 0px 0px;
  padding: 0px 0px;
  overflow:auto;
  direction: rtl;
  height:96.5vh;
  min-width: 160px;
  max-width: 230px;
  width: 0vw;
}

.games-column {
  overflow:auto;
  height: 96.5vh;
}

.games-scroll {
  margin: 0px 0px 0px 0px;
}

.friend-scroll {
  margin: 0px 10px 0px 0px;
}

.friend-column ul li {
  margin: 0px 0 4px 0;
}

.selected-friends ul li {
  margin: 0 6px 3px 0;
  float: left;
}

ul li {
  list-style-type: none;
}

.games-and-selected{
  margin: 0px 0px 0px 1vw;
  float: none;
  display: flex;
  flex-direction: column;
}

.games-column li{
  float: left;
}

.selected-friends{
  margin: 00px 0px 00px 2.5px;
}

.friend-button {
  display: inline-block;
  width: 13vw;
  min-width: 130px;
  max-width: 130px;
  height: calc(120px - 3.25vw);
  max-height: 85px;
  min-height: 85px;
  border: 2px solid #a72d2d; 
  background-color: #262931;
  color: #6fb3d3;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.friend-button img 
{  
	display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border-radius: 5px;
}

.friend-button span
{
	display:inline-block;
  width: 120px;
  vertical-align:middle;
}

.game-button {
  text-align: center;
  display: inline-block;
  font-size: 0px;
  padding: 2px 3px;
  text-align: center;
  background-color: #262931;
  border: none;
}

.game-button img {
  width:180px;
  height:1;
  border: black;
}