* {    
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #262931;
  color: #6fb3d3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #53565e;
  border-radius: 20px
}

*::-webkit-scrollbar-thumb {
  background-color: #6fb3d3;
  border-radius: 20px;
  border: 3px solid #262931;
}

/*landing page*/
.landing-page {
  margin: 10% 0px;
}

.errorCode {
  display:flex;
  justify-content:center;
  align-items:center;
}

.errorCode span {
  /*background-color: #3b3939;*/
  padding: 5px 15px;
  height: 15px;
}

.landing-page input[type=text] {
  color: #6fb3d3;
  background-color: #17181b;
  width: 50%;
  padding: 15px 10px;
  margin: 8px 0px;
  border:none;
  border-radius: 5px;
  text-align: center;
}

.landing-page input[type=text]::placeholder {
  color: #476979;
}

.landing-page input[type=text]:focus {
  border-color: #53565e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.idInputBox {
  display:flex;
  justify-content:center;
  align-items:center;
}

.idInputButton{
  display:flex;
  justify-content:center;
  align-items:center;
}

.idInputButton button {
  background-color: #75a72d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.idInputButton button:focus {
  border-color: #53565e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.tutImages{
  margin: 5% 0px;
}

.vanityImg{
  display:flex;
  justify-content:center;
  align-items:center;
}

.steamidImg{
  display:flex;
  justify-content:center;
  align-items:center;
}

/*app page*/
ul li {
  list-style-type: none;
}

.container {
  display: inline;
  list-style-type: none;
}

/*filter buttons*/
.flag-button-holder {
  padding: 0px 00px;
  margin: 10px 17px;
}

.flag-button {
  display: inline;
}

/*filter buttons*/
.flag-button {
  display: inline;
  padding: 0px 5px;
}

.flag-button button
{
  display: inline-block;
  width: 13vw;
  min-width: 130px;
  max-width: 130px;
  height: calc(90px - 3.25vw);
  max-height: 85px;
  min-height: 55px;
  border: 2px solid #a72d2d; 
  background-color: #262931;
  color: #6fb3d3;
  padding: 0px 0px 0px 0px;
  text-align: center;
  border-radius: 5px;
}

.flag-button span
{
	display:inline-block;
  width: 110px;
  vertical-align:middle;
}

/*main area*/
.main-row {
  padding: 10px 0;
  display: flex;
}

/*friends list*/
.friend-column {
  margin: 0px 0px;
  padding: 0px 0px;
  overflow:auto;
  direction: rtl;
  height:92vh;
  min-width: 160px;
  max-width: 230px;
  width: 0vw;
}

.friend-column ul li {
  margin: 0px 0 4px 0;
}

.friend-scroll {
  margin: 0px 10px 0px 0px;
}

/*.friend-button {

}*/

.friend-button button
{
  display: inline-block;
  width: 13vw;
  min-width: 130px;
  max-width: 130px;
  height: calc(120px - 3.25vw);
  max-height: 85px;
  min-height: 85px;
  border: 2px solid #a72d2d; 
  background-color: #262931;
  color: #6fb3d3;
  padding: 0px 0px 0px 0px;
  text-align: center;
  border-radius: 5px;
}

.friend-button img 
{  
	display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border-radius: 5px;
}

.friend-button span
{
	display:inline-block;
  width: 110px;
  vertical-align:middle;
}

/*games list*/
.games-column {
  overflow:auto;
  height: 92vh;
}

.games-column li{
  float: left;
}

.games-scroll {
  margin: 0px 0px 0px 0px;
}

.game-button {
  text-align: center;
  display: inline-block;
  font-size: 0px;
  padding: 2px 3px;
  text-align: center;
  background-color: #262931;
  border: none;
}

.game-button img {
  width:180px;
  height:1;
  border: black;
  border-radius: 10px;
}